Flask==3.1.2
flask-cors==6.0.2
gunicorn==21.2.0
boto3==1.42.44
python-dotenv==1.2.1
sib-api-v3-sdk==7.6.0
flask-sqlalchemy==3.0.5
flask-bcrypt==1.0.1
pyjwt==2.8.0
pymysql==1.1.0
cryptography==41.0.7
requests==2.32.5